.users {
  width: 500px;
  padding: 10px;
}

.users caption {
  font-size: 25px;
}

.users th {
  background-color: #a5d6f7;
  color: #0f5d91;
  padding: 6px;
}

.users td {
  color: #0f5d91;
  background-color: #d8d6d6;
  text-align: center;
  padding: 6px;
}

.users button {
  color: #c6daef;
  background-color: #4547ef;
  text-align: center;
  border-color: #4547ef;
}

.users button:hover {
  color: #0f5d91;
  background-color: #a5d6f7;
}

.users button:active {
  background-color: black;
}

.tasks {
  width: 500px;
  padding: 10px;
}

.tasks caption {
  font-size: 25px;
}

.tasks th {
  background-color: #ef8383;
  color: #960101;
  padding: 6px;
}

.tasks td {
  color: #960101;
  background-color: #d8d6d6;
  text-align: center;
  padding: 6px;
}
