<table class="users">
  <caption>Users</caption>
  <thead>
    <th>NAME</th>
    <th>SURNAME</th>
    <th>TASKS</th>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.name}}</td>
      <td>{{user.surname}}</td>
      <td><button (click)="onSelect(user)">tasks</button></td>
    </tr>
  </tbody>
</table>

<div *ngIf="selectedUser">
  <table class="tasks">
    <caption>{{selectedUser.name}}'s tasks</caption>
    <thead>
    <th>NAME</th>
    <th>DATE</th>
    </thead>
    <tbody>
    <tr *ngFor="let task of tasks">
      <td>{{task.name}}</td>
      <td>{{task.date | date: 'dd MMM yyyy (EEEE) '}}</td>
    </tr>
    </tbody>
  </table>
</div>
